@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Mono&family=Unbounded:wght@100..900&display=swap');

@layer base {
  :root {
    --font-manrope: 'Manrope', sans-serif;
    --font-unbounded: 'Unbounded', sans-serif;
    --font-pt-mono: 'PT Mono', monospace;

    --color-brand-primary: #6B80C5;
    --color-brand-secondary: #5062A9;
    --color-brand-tertiary: #E5E7EB;

    --color-text-primary: #272727;
    --color-text-secondary: #575757;
    --color-text-disabled: #9CA3AF;

    --color-accent-primary: #FF6B00;
    --color-accent-secondary: #FFA400;
    --color-accent-tertiary: #FFE4A3;

    --color-feedback-error: #E53935;

    --color-background-primary: #FFFFFF;
    --color-border-subtle: #E5E5E5;
  }
}
