# Игнорируем всё в папке .vscode,
# КРОМЕ файла с рекомендованными расширениями, чтобы он был общим для команды.
.vscode/*
!.vscode/extensions.json

# Игнорируем специфичные для админки результаты сборки,
# например, для Server-Side Rendering, если он будет добавлен.
dist-ssr

# Игнорируем локальные файлы-переопределения (например, .env.local).
*.local

# Игнорируем специфичные для Windows файлы редакторов Visual Studio.
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?